<app-header></app-header>
<main>
  <div id="dashboard">
    <app-dashboard-item app-server-status [image]='components[0].image' [title]="components[0].title">
      <app-server-status></app-server-status>
    </app-dashboard-item>

    <app-dashboard-item app-traffic [image]='components[1].image' [title]="components[1].title">
      <app-traffic></app-traffic>
    </app-dashboard-item>

    <app-dashboard-item app-tickets [image]='components[2].image' [title]="components[2].title">
      <app-tickets></app-tickets>
    </app-dashboard-item>
  </div>
</main>